<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StatisticView</title>
    <link href="@Url.Content("~/Static/main.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <p>Statistic</p>
    <table>
        <tr>
            <td>
                <label for="fSum">Sum</label>
            </td>
            <td>
                <input type="text" id="fSum" readonly>
            </td>
        </tr>
        <tr>
            <td><label for="fNrRepetitions">Nr. repetitions</label></td>
            <td><input type="text" id="fNrRepetitions" readonly></td>
        </tr>
        <tr>
            <td><label for="fUniques">Uniques</label></td>
            <td><input type="text" id="fUniques" readonly></td>
        </tr>
    </table>
    

</body>
</html>
